@charset "utf-8";

/* S-coreDream */
@font-face {
    font-family: 'S-Core Dream 3';
    src: url('font/S-CoreDream-3Light.eot');
    src: url('font/S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
        url('font/S-CoreDream-3Light.woff2') format('woff2'),
        url('font/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 5';
    src: url('font/S-CoreDream-5Medium.eot');
    src: url('font/S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
        url('font/S-CoreDream-5Medium.woff2') format('woff2'),
        url('font/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 7';
    src: url('font/S-CoreDream-7ExtraBold.eot');
    src: url('font/S-CoreDream-7ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/S-CoreDream-7ExtraBold.woff2') format('woff2'),
        url('font/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* pretendard */
@font-face {
    font-family: 'pretendard';
    src: url('font/https://Pretendard-Light.eot');
    src: url('font/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Light.woff2') format('woff2'),
        url('font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    src: url('font/Pretendard-Medium.eot');
    src: url('font/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Medium.woff2') format('woff2'),
        url('font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    src: url('font/Pretendard-Bold.eot');
    src: url('font/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Bold.woff2') format('woff2'),
        url('font/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Rightteous */
@font-face {
    font-family: 'Righteous';
    src: url('font/Righteous-Regular.eot');
    src: url('font/Righteous-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Righteous-Regular.woff2') format('woff2'),
        url('font/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    line-height: 1;
    color: #333; 
    font-size: 62.5%;
    font-family: 'S-Core Dream 3';
    font-weight: 400;
    min-width: 1900px;
}
.inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 18rem auto;
}
.title {
    width: 49.6rem;
}


.mobile {display: none;}
@media screen and (max-width: 1024px) {
    .mobile {display: block;}
    .pc {display: none;}
}